/*
!wp-content/
README.md__
wp-content/*
!wp-content/mu-plugins/
!wp-content/plugins/
!wp-content/themes/

wp-content/mu-plugins/*
wp-content/plugins/*
wp-content/themes/*

node_modules/

*.sublime-project
*.sublime-workspace
*.komodoproject

*.log
*.sql
*.sqlite

*.com
*.class
*.dll
*.exe
*.o
*.so

*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip

!.gitignore
!.editorconfig
!README.md
!CHANGELOG.md
!composer.json

!android-chrome-*.png
!apple-touch-icon*.png
!browserconfig.xml
!favicon*.png
!favicon*.ico
!manifest.json
!mstile-*.png
!safari-pinned-tab.svg

!wp-content/mu-plugins/example-mu-plugin/
!wp-content/plugins/example-plugin/
!wp-content/themes/performance360/
!wp-content/themes/performance360-child/

wp-content/themes/performance360/dist

wp-content/themes/new/src/*