$primary-colour: #007DFF;
$primary-colour-dim: #0a969b;

$secondary-colour: #49ff11;
$alert-colour: #f03;
$warning-colour: yellow;
$success-colour: green;

$grey: #ccc;
$light-grey: #f1f1f1;
$medium-grey: #050505;
$dark-grey: #333333;

$primary-pink: #FAD1D1;
$primary-black: #242424;
$primary-blue: #007DFF;
$secondary-blue: #71B6FF;
$primary-white: #ffff;
$primary-gray: #D6D6D6;
$secondary-gray: #F5F5F5;





$colors: (
    secondary-gray: #F5F5F5,
    primary-pink: #FAD1D1,
    primary-black: #242424,
    primary-blue: #007DFF,
    secondary-blue: #71B6FF,
    primary-white: #ffff,
    primary-gray: #D6D6D6,
    light-blue: #228EFF,
    primary-colour: rgb(32, 221, 174),
    primary-colour-dim: #0a969b,

    secondary-colour: #49ff11,
    alert-colour: #f03,
    warning-colour: yellow,
    success-colour: green,

    grey: #ccc,
    light-grey: #f1f1f1,
    medium-grey: #050505,
    dark-grey: #333333,
);


