.slider-outer-container {
    background-color: $primary-pink;
}

.slider-container {
    .slider-name {
        font-size: 22px;
        text-transform: uppercase;
        margin-bottom: 10px;
    }

    .c-post__meta {
        padding: 0 20px;
    }

    .carousel-slider-item {
        &__image {
            position: absolute;
            top: 0;
            padding-bottom: 75%;
            width: 100%;
            overflow: hidden;
        }
        img {
            position: absolute;
            top: 0;
            left: 0;
        }
        &__imageholder {
            padding-bottom: 75%;
            overflow: hidden;
        }
        &__meta {
            padding: 7px 0px;
            background-color: #fff;
        }
        &__title {
            margin-top: 5px;
        }
    }

    .o-row {
        margin-right: 0;
        margin-left: 0;
    }

    .owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
        background: #fff;
    }

    .owl-theme .owl-dots .owl-dot span {
        background: #fff;
    }

    .owl-theme .owl-dots .owl-dot {
        span {
            border: 5px solid $primary-pink;
            width: 20px;
            height: 20px;
        }
        &.active {
            span {
                background: #fff;
                border: 5px solid red;
            }
        }
    }

    @include breakpoint('large') {
        .owl-dots {
            position: absolute;
            top: -50px;
            right: 0;
        }
    }
}

.slider-container {
    max-width: 1200px;
    margin: auto;
}

@include breakpoint('small') {
    .slider-container {
        padding: 40px 10px;
        .c-post__meta {
            display: flex;
            flex-direction: row;
    
            .c-post__time {
                margin-left: 10px;
            }
        }
    }
}

@include breakpoint('medium') {
    .slider-container {
        padding: 20px 15px;

        .c-post__meta {
            display: flex;
            flex-direction: column;
    
            .c-post__time {
                margin: 0;
            }
        }
    }
}

@include breakpoint('xlarge') {
    .slider-container {
        .c-post__meta {
            display: flex;
            flex-direction: row;
    
            .c-post__time {
                margin: 10px;
            }
        }
    }
}