
.dotted-spaced {
    background-image: linear-gradient(to right, #333 10%, rgba(255, 255, 255, 0) 0%);
    background-position: top;
    background-size: 50px 2px;
    background-repeat: repeat-x;
  }
  .left {
    float: left;
    padding: 40px 10px;
    background-color: #F0F0DA;
  }
.c-comments{
    padding-top: rem-calc(105px);
    &__list {
        margin-left: 0px;
        margin-top: 110px;
        > .children{
                background-image: linear-gradient(to bottom, #AEAEAE 36%, rgba(255, 255, 255, 0) 0%);
                background-position: left;
                background-size: 1px 10px;
                background-repeat: repeat-y;
        }
        .children{
            padding-left: 20px;
            margin-top: 0px;
         }
        
        ul{
            list-style: none;
        }
        list-style: none;
    }
    &__title{
        font-style: normal;
        font-weight: normal;
        font-size: rem-calc(24);
        line-height: 130%;
        &_number{
            &-one{
                margin-right: rem-calc(7);
            }
            &-many{
                margin-left: rem-calc(7);
            }
        }
    }
    &__form{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        &-comment{
            width: 100%;
        }
        &-textarea{
            &::placeholder {
            color: #CFD1D4;    
            }
                border-radius: rem-calc(5);
                border: 1px solid #CFD1D4;
                padding-top: rem-calc(15);
                padding-left: rem-calc(22);
                margin-bottom: rem-calc(15);
                font-style: normal;
                font-weight: normal;
                font-size: rem-calc(16);
                line-height: 130%;
                position: relative;
                z-index: 10000;
            }
            &-name, &-email{
                i {
                    position: absolute;
                    margin-top: rem-calc(18);
                    margin-left: rem-calc(24);
                    font-size: rem-calc(15);
                    color: #CFD1D4;   
                }
                input {
                    border-radius: 0.3125rem;
                    padding-left: 3.275rem;
                    max-width: 270px;
                    border: 1px solid #CFD1D4;
                    margin-bottom: 0.9375rem;
                    height: 3.125rem;
                    &::placeholder {
                    color: #CFD1D4;    
                    }
                 }
                }
            &-submit{
                font-style: normal;
                font-weight: bold;
                font-size:  rem-calc(16);
                line-height:  rem-calc(19);
                background: #429FFF!important;
                height: 3.125rem;
                border-radius: 5px;
            }
        }
    }
.c-comment {
    margin-top: 30px;
    &__text{
        p{
            margin-bottom:2px;
        }
        font-style: normal;
        font-weight: normal;
        font-size: rem-calc(16);
        line-height: 130%;
    }
    &_child{
            padding-left: 29px;
    }
    margin-bottom: 0px;
    &__content{
        width:100%;
    }
    &__meta{
        display:flex;
    }
    &__time{
        display:flex;
        margin-left: 15px;
        align-items: center;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 17px;
        color: #AEAEAE;
    }
    &-body{
        display:flex;
    }
    &__author{
    font-style: normal;
    font-weight: bold;
    font-size: rem-calc(18);
    line-height: 130%;
    }
    &__content{
        padding-left: rem-calc(20);
    }

    &__avatar {
        border-radius: 50%;
        width: rem-calc(50);
        height: rem-calc(50);
    }
}
.comment-reply-link{
    color: #AEAEAE;
    font-size: 14px;
    line-height: 130%;
}


@include breakpoint('small') {
    .c-comments {
        padding-top: rem-calc(55);
    }
}

@include breakpoint('mobile') {
    .c-comments {
        padding-top: rem-calc(55);
    }
}

@include breakpoint('medium') {
    .c-comments {
        padding-top: 6.5625rem;
    }
}
    

@include breakpoint('large') {
    .c-comments {
        padding-top: 6.5625rem;
    }
}
