.c-navigation {
    background-color: #2b2b2b;
    color: #ffffff;
    nav {
        position: relative;
    }
}

//MOBILE SEARCH
.c-header__search-mobile {
    width: 100%;

    .mobile-menu-top__search {
        padding: 0 4px 0 30px;
    }

    .mobile-search__form {
        width: 100%;
        margin-top: 50px;

        form {
            display: flex;
            width: 100%;
            border: 2px solid #228EFF;
            border-radius: 4px;
            box-shadow: 0px 8px 16px -2px rgba(0,0,0,0.8);

            button {
                background-color: #228EFF;
            }

            label {
                width: 100%;
                margin: 0;
            }
        }
    }
}

.mobile-search__trigger {
    position: absolute;
    font-weight: bold;
    top: 15px;
    right: 5px;
    width: 70px;
    cursor: pointer;
    background: none;

    &::selection {
        background: none;
        color: #000;
    }
}

.mobile-search__form {
    display: none;
    z-index: 100;

    &.open {
        display: flex;
    }
}

@include breakpoint('medium') {
    .mobile-search__trigger {
        display: none;
    }
}

@include breakpoint('large') {
    .mobile-search__trigger {
        display: none;
    }

    .mobile-search__form {
        display: none;
    }
}

.c-header {
    background-color: $primary-white;
    padding: rem-calc(23) 0;
    color: $primary-black;
    &__logo {
        a {
            &:hover,&:focus {
                text-decoration: none!important;
            }
        }
        font-size: rem-calc(28);
        img {
            max-width: 276px;
            min-width: 160px;
            max-height: 39px;
            min-height: 23px;
            :focus {
            
            }

        }
    }
    &__search-mobile {
        position: absolute;
        right: 1px;
        &-button{
            background: none;
            color: $primary-black;
            padding: rem-calc(13 15 15 9);
            &:focus, &:hover{
                background: none!important;
            } 
        }
        &-icon{
            position: relative;
            right: 4px;
            top: 2px;
            background: none;
            color: $primary-black
        }       

    }
}
@include breakpoint('small') {
    .c-header {
        padding: rem-calc(10 0 10 0);
            &__soc {
                display:none;
            }
            &__menu{
                display:none;    
                
            } 
            img {
                max-width: 160px;
                max-height: 23px;
    
            }
        }
    body {
        // background-color: red;
    }
}
@include breakpoint('mobile') {
    .c_header__menu_100width {
        margin: rem-calc(0 0 20 0);
        width: 100%;
        border-bottom: 1px solid #DADADA;
    }
    .c-header {
        padding: rem-calc(0 0 25 0);
            &__soc {
                display:block;
            }
            &__menu{
                display:none;      
            }
            &__search-mobile {
                margin-left: auto;
            }  
            &__topnav {
                float: none!important;
                .menu {
                    justify-content: center;
                }
            } 
            img {
                max-width: 276px;
                max-height: 39px;
    
            }    
        }
    body {
        // background-color: purple;
    }
}

@include breakpoint('xmobile') {
    .c-header {
        &__mobile-menu {
            display:none;
        }
        &__menu{
            display:block;      
        }
    }
}

@include breakpoint('medium') {
    .c_header__menu_100width {
        margin: 0;
        width: calc(66.66667% - 1.25rem);
        border-bottom: none;
    }
    .c-header {
        padding: rem-calc(23 0 25 0);
            &__soc {
                display:block;
            }
            &__search-mobile {
                display:none;
            }
            &__mobile-menu {
                display:none;
            }    
            &__menu{
                display:block;    
                
            }  
            &__topnav {
                float: right!important;
            }                
        }
    body {
        // background-color: green;
    }
}
@include breakpoint('large') {
    .c-header {
        padding: rem-calc(23 0 25 0);
            &__search-mobile {
                display:none;
            }
            &__mobile-menu {
                display:none;
            }  
            &__menu{
                display:block;  
                  
            } 
            &__topnav {
                float: right!important;
            }                
        }
    body {
        background-color: #E5E5E5;
    }
}


