// HEADER TOP MENU
@media only screen and (min-width: 375px) and (max-width: 526px)  {
    .c-header__topnav .menu > .menu-item > a {
        font-size: 0.7rem;
    }

}

@media only screen  and (max-width: 580px)  {
    .c-term-page-header__title {
        width: auto;
        min-width: auto;
        white-space: nowrap;
    }
    .c-term-page-header__line {
        margin-left: 1rem;
    }

    .c-post {

        &-term {
            flex-direction: column!important;
            &__thumbnail-container {
                width: 85%;
                min-width:rem-calc(286);
            }
            &__content-container {
                width: 100%;
                &_has-thumb {
                    padding-left: rem-calc(0);
                    padding-top: rem-calc(25);
                }
                padding-right: rem-calc(15);
            }
        }
        }

}

@media only screen  and (max-width: 680px)  {
    .c-post__related {
        width: 100%!important;
    }
    .c-post__related .c-post__tags a {
        font-size: 8.6px!important;
    }
    .c-post__related .c-post__time {
        font-size: 11px!important;
    }
}

@media only screen  and (max-width: 490px)  {
    .c-post-single__related-header-title {
        width: 56%!important;
        font-size: 1.55rem!important;
    }
}

