.c-page {

    background-color: #ffffff;
    border: 1px solid $grey;
    box-shadow: 0 0 20px 5px rgba(0, 0, 0, 0.05);
    padding: rem-calc(20);
    overflow: hidden;
    &__header {
        margin-bottom: rem-calc(20);
    }
    &__title {
        font-weight: 600;
    }
}
.c-term-page {
    &-sidebar{
        padding-top: rem-calc(16);
    }
    &-header {
        &__title{
            // padding-top: rem-calc(35);
            // display: none;
            font-style: normal;
            font-weight: bold;
            font-size: rem-calc(48);
            line-height: rem-calc(58);
            white-space: nowrap;
        }
        &__line {
            margin-left: 2.5rem;
            width:100%;
            height: rem-calc(50);
            border-bottom: 1px solid $primary-gray;
        }
    }
}

@include breakpoint('small') {
    .c-term-page{
        &-header{
            &__title{
                font-size: rem-calc(30);
            }
        }
    }
    }
@include breakpoint('mobile') {  
    .c-term-page{
        &-header{
            &__title{
                font-size: rem-calc(30);
            }
        }
    }
    } 
@include breakpoint('medium') {
    .c-term-page{
        &-header{
            &__title{
                font-size: rem-calc(48);
            }
        }
    }
    }
@include breakpoint('large') {
    .c-term-page{
        &-header{
            &__title{
                font-size: rem-calc(48);
            }
        }
    }
     }