
.page {
    .c-post {
        border-radius: 0px;
    } 
}
.c-post {
    &__tag {
        &--with-background {
            display: inline-block;
            padding: 2px 4px;
            margin-bottom: 2px;
        }
    }

    &__meta {
        display: flex;
        align-items: baseline;
    }

    &__time {
        margin-left: 20px;
        &--no-tags {
            margin: 0;
        }
    }

    &-term {
        &__thumbnail-container {
            width: 35%;
            min-width:rem-calc(286);
  
        }
        &__content-container {
            width: 70%;
            &_has-thumb {
                padding-left: rem-calc(40);
            }
            padding-right: rem-calc(15);
            .c-post__meta{
                .c-post__tags-link {
                    padding: rem-calc(4px 8px 3px 8px);
                    border-radius: 0px!important;
                    background: #FFF2F2;
                }
            }
        }
        padding:0px;
        box-shadow: none;
        &__thumbnail {
            height: rem-calc(170);
        }
        &__title{
            margin:0;
            padding-top: rem-calc(10);
            line-height: rem-calc(18);        
            a{
                font-style: normal;
                font-weight: bold;
                font-size: rem-calc(23);
                color: $primary-black;
            }
        }
        &__excerpt {
            padding-top: rem-calc(16);    
            font-style: normal;
            font-weight: normal;
            font-size: rem-calc(15);
            line-height: 140%;
        }
    }


    background-color: #ffffff;
    box-shadow: 0 0 20px 5px rgba(0, 0, 0, 0.05);
    padding: rem-calc(8 20 14 23);
    overflow: hidden;
    border-radius: 5px;
    &-single{
        box-shadow: none;
        padding: 0px;
        margin: 0px;
        p {
            font-style: normal;
            font-weight: normal;
            font-size: rem-calc(17);
            line-height: 160%;
        }
        blockquote {
            margin: 28px 0 28px 0;
        }
        &__title{
            padding-top: rem-calc(10)!important;
            padding-bottom: rem-calc(20)!important;
            a{
                font-style: normal;
                font-weight: bold;
                font-size: rem-calc(48);
                line-height: 111.3%;
            }
        }
        &__thumbnail{
            max-height: rem-calc(300);
            border-radius: rem-calc(5);
                img {
                    border-radius: rem-calc(5);
                }

        }
        &__excerpt{
            border-bottom: 1px solid #AFAFAF;
            padding-bottom: rem-calc(8);
            margin-bottom: rem-calc(28);
        }
        &__footer {
            border-top: 0px!important;
            margin: rem-calc(0px 0px 0px -20px)!important;
            padding: rem-calc(8px 0px 0px 20px)!important;
        }
        
        &__header {
           .c-post__meta{
               .c-post__tags-link{
                padding: rem-calc(6px 8px 3px 8px);
                border-radius: 0px !important;
                background: #FFF2F2;
               }
                &__tags{
                    &-link{
                        padding: rem-calc(6px 8px 3px 8px);
                        border-radius: 0px !important;
                        background: #FFF2F2;
                    }
                }
            }
        }
        &__tags{
           a {
                font-style: normal;
                font-weight: bold;
                font-size: rem-calc(18);
                line-height: 140%;
                text-transform: lowercase!important;
                padding-right: rem-calc(8);
                &:hover {
                    border-bottom: 0px!important;
                }
             }
        }
    }
    &.sticky {
        border-left: 5px solid $primary-pink;
    }
    &.format-quote {
        blockquote {
            background-color: $primary-colour;
            color: #fff;
            padding: rem-calc(20);
            font-size: rem-calc(20);
            a {
                color: #fff;
            }
        }
    }
    &.format-link {
        .c-post__excerpt p {
            background-color: $primary-colour;
            padding: rem-calc(20);
            font-size: rem-calc(20);
            text-align: center;
            a {
                color: #fff;
            }
        }
    }
    p:after {
        content: "";
        display: table;
        clear: both;
    }
    &__header {
        margin-bottom: rem-calc(20);
    }
    &__footer {
        overflow: hidden;
        border-top: 1px solid $grey;
        margin: rem-calc(30px -20px -20px -20px);
        padding: rem-calc(20px);
    }
    &__meta {
        min-height: rem-calc(24);
        color: $dark-grey;
    }
    &__tags {
        padding: rem-calc(0 18 0 0);
        &-link {
            padding: 0.25rem 0.5rem 0.1875rem 0.5rem;
            display: inline-block;
            color: $primary-blue;
            font-weight: 600;
            margin-right: rem-calc(8);
            font-size: rem-calc(14);
            text-transform: uppercase;
        }
        &-single{
            margin-top: rem-calc(20);
            ul {
                list-style: none;
                margin: 0;
                li {
                    display: inline-block;
                    a {
                        background-color: $light-grey;
                        border-bottom: none;
                        margin-right: 10px;
                        padding: rem-calc(5 10);
                        display: inline-block;
                        font-size: rem-calc(14px);
                        color: $dark-grey;
                    }
                }
            }
        }
        
    }
    .c-post__time {
        font-size: rem-calc(14);
    }
    &__audio {
        width: 100%;
        margin: rem-calc(0 0 20 0);
    }
    &__thumbnail, &__gallery, &__video {
        margin: rem-calc(-20 -20 20 -20);
        background-color: $light-grey;
        text-align: center;
    }
    &__excerpt {
        color: $dark-grey;
    }
    &__title {
        font-weight: 600;
        font-size: rem-calc(28);
        padding: 0;
        margin: 0px;
        a {
            color: #000;
            border-bottom: none;
        }
    }
    &__single-title {
        font-weight: 600;
        a {
            color: #000;
            border-bottom: none;
        }
    }
    &-masonry{
        &__thumbnail{
            display: inline-block;
            margin: rem-calc(0 0 0 0);
            background-color: $primary-white;
            text-align: unset;
            padding: rem-calc(10 0 0 0);
            > * {
                border-radius: rem-calc(5);
            }
            img{
                border-radius: rem-calc(5);
            }

        }
        &__title {
            &-thumb{
                a {
                    color: $primary-black;
                    font-style: normal;
                    font-weight: bold;
                    font-size: rem-calc(17);
                    line-height: rem-calc(21); 
                }
                &-no{
                    a {
                        font-style: normal;
                        font-weight: normal;
                        font-size: rem-calc(17);
                        line-height: 130%;
                    }
                }
            }
        }
        &__meta{
            .c-post__tags-link{
                padding: 4px;
                white-space: nowrap;
                font-size: rem-calc(12);
            }
        }
    }

    &-big{
        padding-top:rem-calc(29);
        padding-bottom:rem-calc(29);
        height: rem-calc(300);
        color: $primary-white;
        &__title {
            padding-top: rem-calc(15);
            padding-bottom: rem-calc(11);
            max-width: rem-calc(560);
            font-size: rem-calc(26);
            line-height: rem-calc(32);
            font-style: normal;
            font-weight: bold;
            a {
                color: $primary-white;
            }
        }
        &__excerpt{
            max-width: rem-calc(300);
            padding-bottom: rem-calc(40);
            font-size: rem-calc(15);
            font-style: normal;
            font-weight: normal;
            line-height: 140%;
            color: $primary-white;
        }
        .c-post__time{
            color: $primary-white;
        }
    }

    &-medium{
        padding-top:rem-calc(29);
        padding-bottom:rem-calc(29);
        height: rem-calc(247);
        &__title {
            padding-top: rem-calc(15);
            padding-bottom: rem-calc(115);
            max-width: rem-calc(560);
            font-size: rem-calc(20);
            line-height: rem-calc(24);
            font-style: normal;
            a {
                color: $primary-white;
            }
        }
        .c-post__time{
            color: $primary-white;
        }
    }    
}


.o-single-post-full {
    .c-post {
        &__inner {
            max-width: 50rem;
            margin: 0 auto;
        }
    }
    .alignwide {
        margin-left: -100px;
        margin-right: -100px;
        max-width: calc(50rem + 200px);
    }
    .alignfull {
        margin-left: calc(-12.5rem + 0.625rem);
        margin-right: calc(-12.5rem + 0.625rem);
        max-width: calc(75rem - 1.25rem);
        width: auto;
        img {
            width: 100%;
        }
    }
    .wp-block-cover-image {
        &.alignwide, &.alignfull {
            width: auto;
        } 
    }
}
.wp-block-embed.is-type-video {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 35px;
    height: 0;
    overflow: hidden;
    iframe {
        position: absolute;
        top:0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}

.c-post-author {
    background-color: #ffffff;
    border: 1px solid $grey;
    box-shadow: 0 0 20px 5px rgba(0, 0, 0, 0.05);
    padding: rem-calc(20);
    display: flex;
    &__avatar {
        width: 120px;
        margin-right: rem-calc(25);
    }
    &__content {
        flex: 1;
    }
    &__info {
        margin-bottom: rem-calc(15);
        font-size: rem-calc(14);
    }
    &__title {
        font-size: rem-calc(24);
        font-weight: 600;
        a {
            border-bottom: none;
            color: inherit;
        }
    }
    &__desc {
        color: $dark-grey;
    }
}
@include breakpoint('small') {
.c-post {
    &-single{
        &__title{
            a {
            font-size: rem-calc(23);
            }
        }
    }
    &-term {

        &__thumbnail {
            // width: 100%;
            // height: rem-calc(170);
        }
        // &__title{
    }
}

}
@include breakpoint('mobile') {
    .c-post {
        &-single{
            &__title{
                a {
                font-size: rem-calc(28);
                }
            }
        }
        &-medium {
            height: rem-calc(142);
        }
        &-big {
            height: rem-calc(255);
        }
    }  
} 
@include breakpoint('medium') {
    .c-post {
        &-single{
            &__title{
                a {
                font-size: rem-calc(32);
                }
            }
        }
        &-medium {
            height: rem-calc(247);
        }
        &-big {
            height: rem-calc(300);
        }
    }
}
@include breakpoint('large') {
    .c-post {
        &-single{
            &__title{
                a {
                font-size: rem-calc(48);
                }
            }
        }
        &-medium {
            height: rem-calc(247);
        }
        &-big {
            height: rem-calc(300);
        }
    }
 }
