.c-sidebar-widget {
    background: $secondary-gray;
}
.blog .c-sidebar-widget {
    background: $primary-white;
}

.c-sidebar-widget {
    padding-bottom: 10px;
    
    &__title {
        margin: 0px;
        padding: rem-calc(21 22 0 22);
    }
    h5 {
        font-weight: 600;
    }
    > ul {
        list-style: none;
        margin: 0;
    }
}

.widget_pop_posts_widget {
    .siderbar-post__widget {
        position: relative;
        overflow: hidden;
        width: 70%;
        height: 70px;

        img {
            position: absolute;
            width: 100%;
            bottom: 0;
        }
    }
}


//Posts Widget
 .widget_posts_widget {
     &__post-container {
        padding: rem-calc(0 22 15 22);
        display: flex;

        &:first-of-type {
            padding: rem-calc(20 22 15 22);
        }
     }


     &__post-thumbnail {
        background-size: cover;
        background-position: center;
        width: rem-calc(117);
        height:  rem-calc(70);
     }
     &__post-title {
            width: rem-calc(180);
            padding-left: rem-calc(13);
            line-height: rem-calc(17); 
         &_full-width {
            width:100%;
         }
         a {
            font-style: normal;
            font-weight: normal;
            font-size: rem-calc(14);           
            color: $primary-black;
        
         }
     }
    }
    .widget_subscribe_widget {
        max-width: 320px;
        padding: 0px 20px;
        margin-top: 50px;
    }
    aside {
        .widget_subscribe_widget {
            max-width: 100%;
            padding: rem-calc(21 22 20 22);
            background: $primary-pink!important;

            &__title{
                font-style: normal;
                font-weight: bold;
                max-width: rem-calc(250);
                padding-bottom: rem-calc(15);
                font-size: rem-calc(15);
                line-height: 120%;
            }
            &__form-input {
                height: rem-calc(37);
                border: none;
                font-size: rem-calc(14);
                line-height: 17px;
                color: $primary-black;
                // width: rem-calc(261);
                padding-right: rem-calc(130);
            
            }
            &__form-label {
                display: flex;
                padding-right: 10%;
            }
            &__form-submit {
                // position: absolute;
                background: $primary-blue;
                width: rem-calc(121);
                padding: 0px;
                height: rem-calc(33);
                /* text-align: center; */
                margin-left: rem-calc(-123);
                margin-top: rem-calc(2);
                font-style: normal;
                font-weight: bold;
                font-size: rem-calc(14);
                line-height: 17px;
            
            }

        }
    }

    .c-footer-widget {
        .widget_subscribe_widget {
            padding-top: 0px!important;

            &__title{
                font-style: normal;
                font-weight: bold;
                max-width: rem-calc(270);
                padding-bottom: rem-calc(20);
                font-size: rem-calc(15);
                line-height: 120%;
            }
            &__form-input {
                height: rem-calc(37);
                border: none;
                font-size: rem-calc(14);
                line-height: 17px;
                color: $primary-black;
                // width: rem-calc(261);
                padding-right: rem-calc(130);
            
            }
            &__form-label {
                display: flex;
                padding-right: 10%;
            }
            &__form-submit {
                // position: absolute;
                background: #F42548;
                width: rem-calc(121);
                padding: 0px;
                height: rem-calc(37);
                /* text-align: center; */
                margin-left: rem-calc(-121);
                margin-top: rem-calc(0);
                font-style: normal;
                font-weight: bold;
                font-size: rem-calc(14);
                line-height: 17px;
            
            }

        }
    }
.c-footer-widget {
    > ul {
        list-style: none;
        margin: 0;
    }
    &--light {
        a, p {
            opacity: 0.9;
            color: #fff;
            font-weight: 300;
            border-bottom: none;
        }
    }
    .tagcloud {
        a {
            font-size: rem-calc(14) !important;
            background-color: $primary-colour;
            color: #ffffff;
            opacity: 1;
            padding: rem-calc(5 10);
            margin-bottom: rem-calc(5);
            display: inline-block;
        }
    }
}

@include breakpoint('large') {
    .widget_subscribe_widget {
       margin-top: 0;
    }
}