.c-main-navigation .menu {

}
.c-main-navigation { 
        &__search-form {
            display:none;
        }
        .menu {
        padding: rem-calc(10 0);
        margin: 0;
        display: flex;
        list-style: none;
        .menu-button {
            padding: 0;
            background-color: transparent;
            color: inherit;
            margin-left: rem-calc(10px);
        }
        > .menu-item {
            margin: 0;
            > a {
                padding: rem-calc(8px 21px 8px 21px);
                border-bottom: none;
                display: block;
                color: #fff;
                font-size: rem-calc(16px);
                font-weight: 600;
                text-transform: uppercase;
                transition: 0.3s;
            }
                 .fa-angle-down {
                   padding-left: rem-calc(5);
                   position: relative;
                   top: 2px;
                }
            &:hover a, &.open > a {
                background: #fff;
                color: #000;
            }
            > .sub-menu {
                position: absolute;
                margin: 0;
                list-style: none;
                background: #fff;
                display: none;
                min-width: 200px;
                border: 1px solid #efefef;
                border-top-color: #fff;
                z-index: 10;
            }
        }
        > .menu-item:not(.mega) {
            .sub-menu {
                .sub-menu {
                    position: absolute;
                    margin: 0;
                    list-style: none;
                    background: #fff;
                    display: none;
                    min-width: 200px;
                    left: 100%;
                    font-size: 100%;
                    top: 0px;
                    border-top-color:#efefef;
                }
                .menu-item {
                    margin: 0;
                    position: relative;
                    a {
                        padding: rem-calc(10px 20px);
                        border-bottom: 1px solid #efefef;
                        display: block;
                        font-size: rem-calc(14px);
                        color: $dark-grey;                   
                    }
                    &:hover > a {
                        background: $primary-colour;
                        color: #ffffff;
                    }
                }
            }
        }
        .menu-item:not(.mega).open > .sub-menu {
            display: block !important;
        }
        .menu-item.mega.open > .sub-menu {
            display: flex !important;
        }
        > .menu-item.mega {
            margin: 0;
            > .sub-menu {
                width: 100%;
                left: 0;
                flex-wrap: wrap;
                border: 1px solid #efefef;
                border-top-color: #fff;
                > .menu-item > a {
                    font-weight: 600;
                    font-size: rem-calc(16px);
                    border-bottom: none;
                    color: #000000;
                    display: inline-block;
                    margin-bottom: rem-calc(5);
                    button {
                        display: none
                    }
                    &:hover {
                        color: $primary-colour;
                    }
                }
                > .menu-item > .sub-menu {
                    margin: 0;
                    a {
                        border-bottom: none;
                        font-size: rem-calc(14px);
                        color: $dark-grey;  
                        &:hover {
                            color: $primary-colour;
                        }
                    }
                }
            }
            @for $i from 1 through 6 {
                &.cols-#{$i} {
                    > .sub-menu > .menu-item {
                        width: #{1/$i*100 + '%'};
                        padding: rem-calc(20px);
                    }
                }
            }
        }
    }

    &__search-form{
        .c-search-form{
            input{
                &::placeholder{
                color: white!important;
                }
            }
            &__button{
                position: absolute;
                background: none;
                margin-top: rem-calc(1);
                font-size: rem-calc(18);
            }
            &__field{
                background: #71B6FF;
                border: 0px;
                border-radius: 5px;
            }
            &__label {
                margin: 0px;
            }
        }
    }
}
@include breakpoint('small') {
    .c-main-navigation { 
        display:none;
        &__search-form {
            display:none!important;

        }

}
}

@include breakpoint('mobile') {
    .c-main-navigation { 
        display:block;
        &__search-form {
            display:none!important;

        }

}
}

@include breakpoint('medium') {
    .c-main-navigation { 
        &__search-form {
            display:block;

            .c-search-form{
            &__field{
                padding-left: rem-calc(43);
                padding-right: rem-calc(5);
            }
        }
        }

}
}

@include breakpoint('large') {
    .c-main-navigation { 
        &__search-form {
            display:block;
            .c-search-form{
                &__field{
                    padding-left: rem-calc(43);
                    padding-right: rem-calc(51);
                }
            }
        }



}
}
