@import './tools/breakpoint';

@include breakpoint('small') {
    .mobile-menu-top {
        padding: 0;
    }

    .c-main-navigation {
        visibility: hidden;
        height: 0;
    }

    .c-main-navigation--mobile {
        visibility: visible;
        padding: 0 35px;
        ul {
            margin: 0;
        }

        position: relative;
        width: 100%;

        .owl-stage-outer {
            width: 100%;
            overflow: hidden;
        }

        .owl-item {
            float: left;
        }

        .owl-carousel .owl-stage:after {
            content: ".";
            display: block;
            clear: both;
            visibility: hidden;
            line-height: 0;
            height: 0;
        }

        button {
            height: 100%;
            background: #228EFF;
            font-size: 26px;
            top: 0;
            padding: 0 10px;

            span {
                position: relative;
                top: -2px;
            }
        }

        .owl-prev {
            left: 0;
            position: absolute;
        }

        .owl-next {
            right: 0;
            position: absolute;
        }

        .owl-dots {
            display: none;
        }

        .menu-item {
            list-style-type: none;
            margin: 0;
            display: flex;
            min-height: 50px;
            align-items: center;
            justify-content: center;

            a {
                display: flex;
                color: #fff;
                text-transform: uppercase;
                font-size: 14px;
                padding: 0 5px;
                font-weight: bold;
                width: max-content;
                white-space: nowrap;

                &:hover {
                    background: none;
                    color: #fff;
                }
            }
        }
    }
}

@include breakpoint('mobile') {
    .c-main-navigation {
        visibility: hidden;
    }
}

@include breakpoint('medium') {
    .c-main-navigation {
        visibility: visible;
        height: auto;
    }

    .c-main-navigation--mobile {
        visibility: hidden;
        display: none;
    }
}

@include breakpoint('large') {
    .c-main-navigation {
        visibility: visible;
        display: flex;
    }

    .c-main-navigation--mobile {
        visibility: hidden;
        display: none;
    }
}

.c-main-navigation__search-form {
    margin-left: 10px;
}

.c-main-navigation {
        .js_more-element {
            i {
                font-size: 17px;
                position: relative;
                left: 4px;
                top: 1px;
            }
        }
        .main-dropdown-menu {
            position: absolute;
            visibility: hidden;
            text-transform: uppercase;
            display: flex;
            flex-direction: column;
            background: #fff;
            top: 42px;
            left: -1px;
            margin: 0;
            border: 2px solid #228EFF;
            min-width: 200px;
            padding: 10px 20px;
            box-shadow: 0px 8px 16px -2px rgba(0,0,0,0.8);
            opacity: 0;
            transition: visibility 0s, opacity 0.3s linear;

            li {
                list-style-type: none;
                white-space: nowrap;
                font-weight: bold;

                &:hover {
                    opacity: 0.8;
                }

                a {
                    color: black;
                }
            }
        }
        &__search-form {
            display:none;
        }
        .menu {
        padding: rem-calc(10 0);
        margin: 0;
        display: flex;
        list-style: none;
        .menu-button {
            padding: 0;
            background-color: transparent;
            color: inherit;
            margin-left: rem-calc(10px);
        }
        > .menu-item {
            margin: 0;
            > a {
                padding: rem-calc(8px 21px 8px 21px);
                border-bottom: none;
                display: block;
                color: #fff;
                font-size: rem-calc(16px);
                font-weight: 600;
                text-transform: uppercase;
                transition: 0.3s;
                white-space: nowrap;
            }
                 .fa-angle-down {
                   padding-left: rem-calc(5);
                   position: relative;
                   top: 2px;
                }
            &:hover a, &.open > a {
                background: #fff;
                color: #000;
            }
            > .sub-menu {
                position: absolute;
                margin: 0;
                list-style: none;
                background: #fff;
                display: none;
                min-width: 200px;
                border: 1px solid #efefef;
                border-top-color: #fff;
                z-index: 10;
            }
        }
        > .menu-item:not(.mega) {
            .sub-menu {
                .sub-menu {
                    position: absolute;
                    margin: 0;
                    list-style: none;
                    background: #fff;
                    display: none;
                    min-width: 200px;
                    left: 100%;
                    font-size: 100%;
                    top: 0px;
                    border-top-color:#efefef;
                }
                .menu-item {
                    margin: 0;
                    position: relative;
                    a {
                        padding: rem-calc(10px 20px);
                        border-bottom: 1px solid #efefef;
                        display: block;
                        font-size: rem-calc(14px);
                        color: $dark-grey;                   
                    }
                    &:hover > a {
                        background: $primary-colour;
                        color: #ffffff;
                    }
                }
            }
        }
        .menu-item:not(.mega).open > .sub-menu {
            display: block !important;
        }
        .menu-item.mega.open > .sub-menu {
            display: flex !important;
        }
        > .menu-item.mega {
            margin: 0;
            > .sub-menu {
                width: 100%;
                left: 0;
                flex-wrap: wrap;
                border: 1px solid #efefef;
                border-top-color: #fff;
                > .menu-item > a {
                    font-weight: 600;
                    font-size: rem-calc(16px);
                    border-bottom: none;
                    color: #000000;
                    display: inline-block;
                    margin-bottom: rem-calc(5);
                    button {
                        display: none
                    }
                    &:hover {
                        color: $primary-colour;
                    }
                }
                > .menu-item > .sub-menu {
                    margin: 0;
                    a {
                        border-bottom: none;
                        font-size: rem-calc(14px);
                        color: $dark-grey;  
                        &:hover {
                            color: $primary-colour;
                        }
                    }
                }
            }
            @for $i from 1 through 6 {
                &.cols-#{$i} {
                    > .sub-menu > .menu-item {
                        width: #{1/$i*100 + '%'};
                        padding: rem-calc(20px);
                    }
                }
            }
        }
    }

    &__search-form{
        .c-search-form{
            input{
                color: white!important;
                &::placeholder{
                color: white!important;
                }
            }
            &__button{
                position: absolute;
                background: none;
                margin-top: rem-calc(1);
                font-size: rem-calc(18);
            }
            &__field{
                background: #71B6FF;
                border: 0px;
                border-radius: 5px;
            }
            &__label {
                margin: 0px;
            }
        }
    }
}


@include breakpoint('medium') {
    .c-main-navigation { 
        display:flex;

        &__search-form {
            display:flex;

            .c-search-form{
            &__field{
                padding-left: rem-calc(43);
                padding-right: rem-calc(5);
            }
        }
        }

}
}

@include breakpoint('large') {
    .c-main-navigation { 
        display:flex;

        &__search-form {
            display:flex;
            .c-search-form{
                &__field{
                    padding-left: rem-calc(43);
                    padding-right: rem-calc(51);
                }
            }
        }



}
}
