header {
    position: relative;
}

.hamburger-menu-content {
    visibility: hidden;
    position: absolute;
    top: 71px;
    background-color: #fff;
    z-index: 1000;
    padding: 20px;
    width: 100%;
    background: #fff;
    left: 0;

    ul {
        margin: 0;
    }

    li {
        list-style-type: none;
        margin: 0;

        a {
            font-weight: bold;
            text-transform: uppercase;
            color: #000;
        }
    }
}

.c-header__topnav {
    float: right;
       .menu {
       margin: 0;
       display: flex;
       list-style: none;
       :last-child{
           a {
            padding-right: 0px!important;
           }
        }
       .menu-button {
           padding: 0;
           background-color: transparent;
           color: inherit;
           margin-left: rem-calc(10px);
       }
       > .menu-item {
           margin: 0;
           > a {
               padding: rem-calc(12px 15px 12px 15px);
               border-bottom: none;
               display: block;
               color: $primary-black;
               text-transform: uppercase;
               font-size: rem-calc(16px);
           }
           :last-child {
           }
           &:hover a, &.open > a {
               background: #fff;
               color: #000;
           }
           > .sub-menu {
               position: absolute;
               margin: 0;
               list-style: none;
               background: #fff;
               display: none;
               min-width: 200px;
               z-index: 10;
           }
       }
       > .menu-item:not(.mega) {
           .sub-menu {
               .sub-menu {
                   position: absolute;
                   margin: 0;
                   list-style: none;
                   background: #fff;
                   display: none;
                   min-width: 200px;
                   left: 100%;
                   font-size: 100%;
                   top: 0px;
               }
               .menu-item {
                   margin: 0;
                   position: relative;
                   a {
                       padding: rem-calc(10px 20px);
                       display: block;
                       font-size: rem-calc(14px);
                       color: $dark-grey;                   
                   }
                   &:hover > a {
                       background: $primary-colour;
                       color: #ffffff;
                   }
               }
           }
       }
       .menu-item:not(.mega).open > .sub-menu {
           display: block !important;
       }
       .menu-item.mega.open > .sub-menu {
           display: flex !important;
       }
       > .menu-item.mega {
           margin: 0;
           > .sub-menu {
               width: 100%;
               left: 0;
               flex-wrap: wrap;
               > .menu-item > a {
                   font-weight: 600;
                   font-size: rem-calc(16px);
                   border-bottom: none;
                   color: #000000;
                   display: inline-block;
                   margin-bottom: rem-calc(5);
                   button {
                       display: none
                   }
                   &:hover {
                       color: $primary-colour;
                   }
               }
               > .menu-item > .sub-menu {
                   margin: 0;
                   a {
                       border-bottom: none;
                       font-size: rem-calc(14px);
                       color: $dark-grey;  
                       &:hover {
                           color: $primary-colour;
                       }
                   }
               }
           }
           @for $i from 1 through 6 {
               &.cols-#{$i} {
                   > .sub-menu > .menu-item {
                       width: #{1/$i*100 + '%'};
                       padding: rem-calc(20px);
                   }
               }
           }
       }
   }
}

@include breakpoint('small') {

}
@include breakpoint('mobile') {

}
@include breakpoint('medium') {

}
@include breakpoint('large') {

}